# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Bases de données locales
*.db
*.sqlite

# Variables d'environnement
.venv/
.env

# Dossier de données locales
drop/

*.parquet
*.csv
*.pbix